<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Tour Group</title>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <meta name="description" content="Updates and statistics" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/css/fonts.css?family=Poppins:300,400,500,600,700" rel="stylesheet" />
    <link href="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/css/pages/auth/style-1.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{css/sweetalert2.min.css}">
</head>

<body id="kt_body" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">

<div class="d-flex flex-column flex-root">

    <div class="login login-1 login-signin-on d-flex flex-row-fluid" id="kt_login">
        <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="background-image: url('http://shige.group/such/pic.php/forum/pic/item/060828381f30e92492f5737d5b086e061d95f72d/mlike.jpg');">
            <div class="login-form text-center text-white p-7 position-relative overflow-hidden">

                <div class="d-flex flex-center mb-15">
                    <a href="/">
                        <img src="http://shige.group/such/pic.php/forum/pic/item/d52a2834349b033b3e2d109602ce36d3d439bdd1/mlike.jpg" class="max-h-100px bg-white shadow-light rounded-circle shadow" alt="" />
                    </a>
                </div>

                <div class="login-signin">
                    <div class="mb-10">
                        <h3>用户登录</h3>
                    </div>
                    <form class="form" id="login_form">
                        <div id="login_form_1">
                            <div class="form-group mt-5">
                                <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8" type="text" placeholder="用户名" name="username" id="username" autocomplete="new-password" required />
                            </div>
                            <div class="form-group mt-5">
                                <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8" type="password" placeholder="密码" name="password" id="password" autocomplete="new-password" required/>
                            </div>
                        </div>
                        <div id="login_form_2" style="display: none;">
                            <div class="form-group mt-5">
                                <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8" type="number" placeholder="二步验证动态码" name="code_2fa" id="2fa-code" autocomplete="new-password" />
                                <a href="JavaScript:;" id="reset_acc" class="text-white font-weight-bold">返回输入账号</a>
                            </div>
                        </div>


                        <div class="form-group d-flex flex-wrap justify-content-between align-items-center px-8">
                            <label class="checkbox checkbox-outline checkbox-white text-white m-0">
                                <input type="checkbox" name="remember" id="remember-me" checked="checked"/>记住我
                                <span></span>
                            </label>
<!--                            <a href="/to/resetPassword" class="text-white font-weight-bold">忘记密码 ?</a>-->
                        </div>
                        <div class="form-group text-center mt-10" style="white-space:nowrap;">
                            <button type="button" id="login_submit" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3">登录</button>
                        </div>
                    </form>
                    <div class="mt-10">
                        <span class="opacity-70 mr-4">还没有账号 ?</span>
                        <a th:href="@{/to/register}" class="text-white font-weight-bold">立即注册</a>
                    </div>
                </div>


                <div class="p-5" id="auth-stf"></div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/plugins/global/plugins.bundle.js"></script>
<script src="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/js/metron-plugin.js"></script>
<script src="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/js/scripts.js"></script>
<script src="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/js/auth.js"></script>
<script th:src="@{js/sweetalert2.all.min.js}"></script>

<script>
    $('#login_submit').on('click',function (){
        Swal.fire({
            title: 'Are you sure?',
            text: "确认登录？",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, login it!'
        }).then(function (){
                $.ajax({
                    url: "/login.do",
                    method: "post",
                    data: {
                        'username': $('#username').val(),
                        'password': $('#password').val()
                    },
                    success: function (data, status) {
                        console.log(data)
                        console.log(status)
                        if (status == "fail") {
                            Swal.fire(
                                '登录!',
                                '登录失败！用户名或密码错误',
                                'error'
                            )
                            location = location;

                        } else {
                            Swal.fire(
                                '登录!',
                                '你已成功登录',
                                'success'
                            )
                            window.location.href = "/to/admin"
                        }
                    },
                    error: function () {
                        Swal.fire(
                            '登录!',
                            '登录失败！用户名或密码错误',
                            'error'
                        )
                    },
                    complete: function () {

                    }


                });

        })
    })
</script>

</body>
</html>