<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Tour Group</title>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <meta name="description" content="Updates and statistics" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/css/fonts.css?family=Poppins:300,400,500,600,700" rel="stylesheet" />
    <link href="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/css/pages/auth/style-1.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{css/sweetalert2.min.css}">
</head>

<body id="kt_body" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">

<div class="d-flex flex-column flex-root">

    <div class="login login-1 login-signin-on d-flex flex-row-fluid" id="kt_login">
        <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="background-image: url('http://shige.group/such/pic.php/forum/pic/item/060828381f30e92492f5737d5b086e061d95f72d/mlike.jpg');">
            <div class="login-form text-center text-white p-7 position-relative overflow-hidden">

                <div class="d-flex flex-center mb-15">
                    <a href="/">
                        <img src="http://shige.group/such/pic.php/forum/pic/item/d52a2834349b033b3e2d109602ce36d3d439bdd1/mlike.jpg" class="max-h-100px bg-white shadow-light rounded-circle shadow" alt="" />
                    </a>
                </div>

                <div class="register-signin">
                    <div class="mb-10">
                        <h3>新用户注册</h3>
                    </div>

                    <form class="form" id="register_form">
                        <div id="register_form_1">

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group mb-0">
                                        <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mt-5" type="text" placeholder="昵称" name="username" id="username" autocomplete="new-password" />
                                    </div>
                                </div>
                            </div>

<!--                            <div class="form-group mb-0" style="white-space:nowrap;">-->
<!--                                <div class="input-group mt-5">-->
<!--                                    <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-l-50 border-0 py-4 px-8 pr-0" type="email" placeholder="邮箱地址" name="email" id="email" autocomplete="new-password" />-->
<!--                                </div>-->
<!--                            </div>-->


                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mt-5" type="password" placeholder="密码" name="password" id="password" autocomplete="new-password" required/>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mt-5" type="password" placeholder="重复密码" name="repassword" id="repassword" onblur="check2pwd()" autocomplete="new-password" required/>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <input type="hidden" name="permissionid" value="1">

                        <div class="form-group text-center mt-10" style="white-space:nowrap;">

                            <button type="button" id="register_submit" class="btn btn-pill btn-outline-white btn-block font-weight-bold opacity-90 px-15 py-3 ">注册</button>
                        </div>
                    </form>
                    <div class="mt-10">
                        <span class="opacity-70 mr-4">已经有账号 ?</span>
                        <a th:href="@{/to/login}" class="text-white font-weight-bold">立即登录</a>
                    </div>
                </div>

                <div class="p-5" id="auth-stf"></div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/plugins/global/plugins.bundle.js"></script>
<script src="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/js/metron-plugin.js"></script>
<script src="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/js/scripts.js"></script>
<script src="https://cdn.oooiooo.me/gh/mt-theme/metron-assets@3.0.2/metron/js/auth.js"></script>
<!--<script src="../js/layer/layer.js"></script>-->
<script th:src="@{js/sweetalert2.all.min.js}"></script>

<script>
    function check2pwd() {
        if(password.value != repassword.value) {
            alert("两次输入密码不一致！")
            password.value = "";
            repassword.value = "";
        }
    }

    $('#register_submit').on('click',function (){
        Swal.fire({
            title: 'Are you sure?',
            text: "确认注册？",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, register it!'
        }).then(function () {
                $.ajax({
                    url: "/register.do",
                    method: "post",
                    data: {
                        'username': $('#username').val(),
                        'password': $('#password').val()
                    },
                    success: function (data, status) {
                        console.log(data)
                        console.log(status)
                        if (status == "fail") {
                            Swal.fire(
                                '注册!',
                                '注册失败！昵称已存在',
                                'error'
                            )
                            location = location;

                        } else {
                            Swal.fire(
                                '注册!',
                                '你已注册成功',
                                'success'
                            )
                            window.location.href = "/to/login"
                        }
                    },
                    error: function () {
                        Swal.fire(
                            '注册!',
                            '注册失败！昵称已存在',
                            'error'
                        )
                    },
                    complete: function () {

                    }


                });

        })
    })

</script>

</body>
</html>